html,
body {
    margin: 0;
}

#app {
    margin: 3vh 10vh;
}

h1,
h2,
h3,
label,
span,
img {
    user-select: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--el-color-info-light-7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--el-color-info);
    border-radius: 10px;
}
